{
  "env": {
    "es6": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:jsx-control-statements/recommended",
    "plugin:security/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "no-secrets",
    "jsx-control-statements",
    "react-hooks",
    "react",
    "security",
    "simple-import-sort",
    "sort-destructure-keys",
    "sort-keys-fix"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "consistent-return": 0,
    "global-require": 0, // Used by React Native.
    "import/no-extraneous-dependencies": 0, // monorepo setup
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/no-autofocus": "warn",
    "key-spacing": ["error", { "align": "value" }],
    "max-len": [2, {"code": 90, "tabWidth": 2, "ignoreUrls": true}],
    "no-nested-ternary": "error",
    "no-param-reassign": ["error", { "props": false }],
    "no-return-assign": "off", // airbnb use error, handy for react ref assign.
    "no-underscore-dangle": 0, // disallows "private" properties
    "operator-linebreak": ["error", "after"], // aibnb is disabling this rule
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-max-props-per-line": ["error", {"maximum": 3}], // airbnb is disabling this rule
    "react/jsx-sort-props": [2, { "callbacksLast": true, "shorthandLast": true }],
    "react/no-direct-mutation-state": "error", // airbnb is disabling this rule
    "react/require-default-props": "warn",
    "react/prop-types": "off",
    "sort-destructure-keys/sort-destructure-keys": ["warn", {"caseSensitive": false}],
    "sort-keys-fix/sort-keys-fix": "warn",
    "sort-vars": ["error", { "ignoreCase": true }],

    // Import ordering
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@/components", "./src/components"],
          ["@/hooks", "./src/hooks"],
          ["@/json", "./src/json"],
          ["@/lib", "./src/lib"],
          ["@/logic", "./src/logic"],
          ["@/tmpstore", "./tmpstore"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}