{
  "env": {
    "browser": true,
    "commonjs": false,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:cypress/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:security/recommended",
    "plugin:testing-library/react",
    "prettier/react"
  ],
  "plugins": [
    "cypress",
    "jsx-a11y",
    "no-secrets",
    "prettier",
    "react-hooks",
    "react",
    "security",
    "simple-import-sort",
    "testing-library"
  ],
  "rules": {
    "consistent-return": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/anchor-is-valid": "warn",
    "no-console": 0,
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}